body {
	background-color: #80a8ee;
	color: #002060;
}
h1 {
	font-family: gadget, sans-serif;
	font-size: 8em;
}

textarea {
	height: 10em;
	display: block;
	margin: auto;
	border-radius: 5px;
	padding: 5px;
	background-color: #eaf0ff;
}
.thought {
	background-color: #bfc7ff;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 1em;
	display:inline-block;
}
textarea, .thought {
	width: 90%;
	font-size: 3em;
	border-radius: .5em;
	padding: .5em;
	'margin-bottom': '2em';
}

#newthought {
	margin-top: 1em;
	margin-bottom: 2em;
}
#main {
	margin-left:20px;
	margin-right:20px;
}


/* Much of what follows was taken directly from bootstrap.css and bootstrap-theme.css. */
.delete-btn {
	float: right;
	color: #ffffff;
	background-color: #428bca;
	background-image: linear-gradient(to bottom,#428bca 0,#2d6ca2 100%);
	background-repeat: repeat-x;
	border: 1px solid transparent;
	border-color: #2b669a;
}
.delete-btn:hover,
.delete-btn:focus,
.delete-btn:active {
  color: #ffffff;
  background-color: #2d6ca2;
  background-position: 0 -15px;
  border-color: #285e8e;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;	
}
.btn-xl {
    padding: 18px 28px;
    font-size: 22px;
    line-height: normal;
    border-radius: 8px;
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-fire:before {
  content: "\e104";
}